:root {
  --red: #ff4250;
  --darkred: #f83646;
  --greyred: #cd5c66;
  --dark: #1a1c20;
  --darkblue: #222a31;
  --grey: #8699a5;
  --muted: #ddd;
  --white: white;
  --yellow: #ffb20a;

  --size1: 0.313rem;
  --size2: 0.625rem;
  --size3: 0.938rem;
  --size4: 1.25rem;
  --size5: 1.563rem;
  --size6: 1.875rem;
  --size7: 2.188rem;
  --size8: 2.5rem;
  --size9: 2.813rem;
  --size10: 3.125rem;

  --font-xs: 0.75rem;
  --font-sm: 0.875rem;
  --font-md: 1.3rem;
  --font-lg: 1.55rem;
  --font-xl: 2.5rem;
}
